@import url('https://fonts.googleapis.com/css?family=Aclonica|Anaheim:300,400,500,600');


:root {
  --offBlack: #2F2A2A;
  --offWhite: #FFF7F7;
  --hoverRed: rgb(255, 59, 72);
  --brightRed: #E81928;
  --brightestRed: rgb(255, 0, 17);
  --brightRed-dark: #cc0815;
  
  --fontSize: 26px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 20px;
  font-family: 'Anaheim', sans-serif;
  height: 100vh;
  color: var(--offBlack);
  background-color: var(--offWhite);
}

body {
  font-size: var(--fontSize);
}

.pointer {
  cursor: pointer;
}
