@import url('https://fonts.googleapis.com/css?family=Aclonica|Open+Sans:300,400,600');


:root {
  --offBlack: #2F2A2A;
  --backgroundWhite: #FFF7F7;
  --fontColorHeadings: #f7f7f7;
  --brightRed: #E81928;
  --brightRed-dark: #cc0815;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  color: var(--offBlack);
  background-color: var(--backgroundMain);
}

.pointer {
  cursor: pointer;
}
