@import url('https://fonts.googleapis.com/css?family=Aclonica|Open+Sans:300,400,600');


:root {
  --backgroundMain: #2F2A2A;
  --fontColorMain: #f7f7f7;
  --brightRed: #E81928;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  color: #f7f7f7;
  background-color: var(--backgroundMain);
}
